<table class="highlight table table-striped sortable">
    <thead>
        <tr>
            <th><a href="#">ID</a></th>
            <th><a href="#">Type</a></th>
            <th><a href="#">Author(s)</a></th>
            <th><a href="#">Title</a></th>
            <th><a href="#">Publisher</a></th>
            <th><a href="#">Year</a></th>
            <th><a href="#">Language</a></th>
        </tr>
    </thead>
    <tbody>
    <% documents.each do |r| %>
        <tr>
            <%= render partial: "shared/journal_list_item", locals: {view: :simple, j: r} if r.class == Journal %>
            <%= render partial: "shared/book_list_item", locals: {view: :simple, b: r} if r.class == Book %>
            <%= render partial: "shared/academic_paper_list_item", locals: {view: :simple, p: r} if r.class == AcademicPaper %>
            <%= render partial: "shared/journal_article_list_item", locals: {view: :simple, a: r} if r.class == JournalArticle %>
        </tr>
    <% end %>
    </tbody>
</table>