<%= title "About Us" %>
<h1>About Us:</h1>
<div class="divider"></div>
<div class="section">
    <h5>Section 1</h5>
    <p>Stuff</p>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Section 2</h5>
    <p>Stuff</p>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Section 3</h5>
    <p>Stuff</p>
</div>