<% title "Home" %>
<%= card_for("EXPLORE ISLAMIC ART", 
    {},
    islamic_periods_path, 1, "/assets/islamic-art-banner-photo.jpg") %>
<br>
<div>
    <marquee behavior="scroll" direction="left" 
        onmouseover="this.stop();" 
        onmouseout="this.start();">
            <%= @news_ticker.body.html_safe if NewsTicker.first %>
    </marquee>
    <div id="map" style='width: 100%; height: 90vh;'></div>
</div>
<br>
<h5 class="badge">Site Views: <%= @views_count %></h5>
<script>
    $(document).ready(() => {
        markers_json = <%=raw @hash.to_json %>;
        console.log(markers_json)
        handler = Gmaps.build('Google');
        handler.buildMap({ 
            provider: {
                disableDefaultUI: true
            },
             internal: {
                 id: 'map'
                }
            }, function(){
                markers = handler.addMarkers(markers_json);
                handler.bounds.extendWith(markers);
                links = []
                for (let i = 0; i < markers.length; i++) {
                        links.push(markers_json[i].link);
                        google.maps.event.addListener(markers[i].getServiceObject(), 'click', function(){
                        window.open(links[i], "_self");
                    });
                }
                handler.fitMapToBounds();
            });
    })
</script>