<div>
    <marquee behavior="scroll" direction="right" 
        onmouseover="this.stop();" 
        onmouseout="this.start();">
            <%= NewsTicker.first.body %>
    </marquee>
    <div id="map" style='width: 100%; height: 90vh;'></div>
</div>

<script>
    $(document).ready(() => {
        markers_json = <%=raw @hash.to_json %>;
        console.log(markers_json)
        handler = Gmaps.build('Google');
        handler.buildMap({ 
            provider: {
                disableDefaultUI: true
            },
             internal: {
                 id: 'map'
                }
            }, function(){
                markers = handler.addMarkers(markers_json);
                handler.bounds.extendWith(markers);
                links = []
                for (let i = 0; i < markers.length; i++) {
                        links.push(markers_json[i].link);
                        google.maps.event.addListener(markers[i].getServiceObject(), 'click', function(){
                        window.open(links[i], "_self");
                    });
                }
                handler.fitMapToBounds();
            });
    })
</script>