<% title "Islamic Art Period | #{@period.name}" %>
<h1>Islamic Art Period: <%= "#{@period.name} (#{@period.start_year} - #{@period.end_year})" %></h1>

<br>

<div class="period-about-container">
    <%= @period.about.html_safe %>
</div>

<%= carousel_for( @period.slideshow_photos ) %>
