<h1>Browse <%= params[:language].humanize if params[:language] == "arabic" || params[:language] == "english" %> Journals </h1>

<% @journals_hash.each do |letter, journals| %>
    <h2><%= letter %></h2>
    <%= render partial: "shared/detailed_view", locals: {items: journals, search: false, paginate_items: false} %>
<% end %>