<div class="container">
    <div class="post-container">
        <div class="post-title page-title">
            <h1><%= @i.title %></h1>
        </div>

        <div class="post-photo-container">
            <div class="post-photo" style="background-url:<%= url_for(@i.cover_photo) %>; height: 200px; width: 200px"></div>
        </div>

        <div class="post-body">
            <p class="lead post">
                <%= @i.body %>
            </p>
        </div>
    </div>
</div>