<h1 class="page-title">Museums in <%= @country.name %></h1>
<%= filters_and_order_for country_museums_path(@country), 
["museum_kind", {"name" => "Name"}, "results_per_page"],params %>

<div class="row">
    <% @museums.each do |i| %>
        <%= card_for("#{i.name}, #{i.city.name}", 
            { },
            country_museum_path(@country, i),
            3,
            i.logo) %>
    <% end %>
</div>
<%= paginate @museums %>