<div class="container">

    <h1 class="page-title">Museums in <%= @country.name %></h1>

    <%= filters_for country_museums_path(@country), ["museum_kind"], params %>

    <% @museums.each do |i| %>
        <div class="row">
            <%= card_for("#{i.name}, #{i.city.name}", 
            { "About" => i.about },
            country_museum_path(@country, i),
            3,
            i.logo) %>
        </div>
    <% end %>

    <%= paginate @museums %>
</div>