// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import 'selectize';
@import 'activeadmin/quill_editor_input';


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.selectize-input {
    width: 40%;
}

#admin-add-map {
    height:600px; 
    width:100%;
}

.delete-image-wrap {
    position: relative !important;
    display: inline-block;
}
.delete-image-wrap .delete-image {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.image-admin {
    width: 400px;
    margin-left: 50px;
}

.active-admin-btn {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    border: solid 1px #c7c7c7;
    border-color: #c7c7c7;
    border-top-color: #d3d3d3;
    border-right-color: #c7c7c7;
    border-bottom-color: #c2c2c2;
    border-left-color: #c7c7c7;
    text-shadow: #fff 0 1px 0;
    color: #5E6469;
    padding: 12px 17px 10px;
    margin: 0px;
}

form input[type=date] {
    width: auto;
}