/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "materialize/components/color-variables";
 $primary-color: rgb(208, 196, 156)  !default;
 $secondary-color: rgb(58, 42, 145) !default;
 $reference-secondary-color: rgb(254, 251, 220);
 $gold: rgb(224, 188, 70) !default;
 @import "materialize";
 @import "bootstrap-sprockets";
 @import "bootstrap";

 $body-bg-color: #fffadc;

 .content {
     margin-top: 50px;
 }

 body {
     background-color: $body-bg-color !important; 
 }

 a:hover {
    text-decoration: none !important;
 }
 .nav-link {
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 300;
 }

.nav-link, .brand-logo {
    color: white !important;
    &:hover {
        color: white !important;
        text-decoration: none;
    }
}

.page-title {
    margin: 50px 0 0 0;
}

.collection-item {
    background-color: #3A2A91 !important;
}

.search-checkbox-label {
    margin-left: 25px;
}

.search-results {
    margin-top: 60px;
}

.title {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 50px;
}

body > div.container > div > ul > li > a {
    color: $primary-color;
    &:hover {
        color: $secondary-color
    }
}

.citation {
    resize: none;
    height: auto;    
}

.location-map {
    display: block;
    height: 400px;
    width: 100%;
    margin-bottom: 50px;
}

.filter-btns-container {
    margin: 20px 0px;
}

select {
    display: inline;
    width: auto;
}

.search-container {
    margin-top: 20px;
}

.select-container {
    margin-top: 20px;
}

.card {
    margin-top: 40px;
}

.card-image {
    height: 300px;
    overflow: hidden;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid img {
border: 1px solid #ccc;
box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
max-width: 100%;
}



.img-description {
padding: 15px;
text-align: center;
}

.search-result-buttons a {
    width: 100%;
    margin-bottom: 10px;
}

.content-type-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.filter {
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-section {
    background: rgb(241, 241, 241);
    padding: 20px !important;
}

.result-section {
    padding: 20px !important;
}

picture img {
    height: 200px;
}

.cover {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content h4 {
    font-size: 20px;
    color: $gold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subjects-items-container {
    margin-top: 20px;
}

.subjects-item {
    color: #3A2A91;
    display: block;
    font-size: 20px;
    margin-top: 5px;
    border-bottom: 1px solid #3A2A91;
}