/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "materialize/components/color-variables";
 $primary-color: #FFFADC  !default;
 $secondary-color: rgb(58, 42, 145) !default;
 $reference-secondary-color: rgb(254, 251, 220);
 $gold: rgb(224, 188, 70) !default;
 @import "materialize";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'selectize';


 $body-bg-color: #fffadc;

 html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

 .content {
     margin-top: 50px;
 }

 body {
    min-height: 100%;
    background-image: url('/assets/iacaros-bg-mobile.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
 }

 @media only screen and (max-width: 500px) {
    body {
        background-image: none;
    }
  }

 a:hover {
    text-decoration: none !important;
 }
 .nav-link {
    font-size: 1.1rem;
    // letter-spacing: 2px;
    font-weight: 300;
 }

.nav-link, .brand-logo {
    color: $secondary-color !important;
}

.page-title {
    margin: 50px 0 0 0;
}

.collection-item {
    background-color: #3A2A91 !important;
}

.search-checkbox-label {
    margin-left: 25px;
}

.search-results {
    margin-top: 60px;
}

.title {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 50px;
}

.container {
    margin-bottom: 50px;
    height: 100%;
}

body > div.container > div > ul > li > a {
    color: $secondary-color;
}

.citation {
    resize: none;
    height: auto;    
}

.location-map {
    display: block;
    height: 400px;
    width: 100%;
    margin-bottom: 50px;
}

.filter-btns-container {
    margin: 20px 0px;
}

select {
    display: inline;
    width: auto;
}

.search-container {
    margin-top: 20px;
}

.select-container {
    margin-top: 20px;
}

.card {
    margin-top: 40px;
}

.card-image {
    height: 300px;
    overflow: hidden;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid img {
border: 1px solid #ccc;
box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
max-width: 100%;
}



.img-description {
padding: 15px;
text-align: center;
}

.search-result-buttons a {
    width: 100%;
    margin-bottom: 10px;
}

.content-type-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.filter {
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-section {
    background: rgb(241, 241, 241);
    padding: 20px !important;
}

.result-section {
    padding: 20px !important;
}

picture img {
    height: 200px;
}

.cover {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content h4 {
    font-size: 20px;
    color: $gold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subjects-items-container {
    margin-top: 20px;
}

.subjects-item {
    color: #3A2A91;
    display: block;
    font-size: 20px;
    margin-top: 5px;
    border-bottom: 1px solid #3A2A91;
}

.btn:hover, .btn:focus {
    color: white;
}

.pagination {
    padding-left: 20px !important;
}

nav a{
    color: $secondary-color;
}

.current {
    color: $secondary-color;
    font-weight: 650;
}
.material-icons {
    color: $secondary-color !important;
}

.profile_photo {
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 5px solid rgba(0, 0, 0, 0.3);
}

label:not(.label-icon) {
    color: $secondary-color;
    font-size: 16px;
    background-color: white;
    padding: 2px 5px;
}

blockquote {
    border-color: $secondary-color;
}

span.badge {
    color: $primary-color;
}

.btn {
    margin-top: 10px;
}

footer {
    color:  black !important;
    a {
        color: $secondary-color !important;
        &:hover{
            text-decoration: underline !important;
        }
    }
}

.footer-copyright {
    color: black
}

.breadcrumb-iacaros {
    padding: 5px 10px;
    background-color: #3a2a91;
    color: white;
    border-radius: 7px;
    font-weight: 700;
    line-height: 2;
    &:hover {
        color: white;
    }
    &:focus{
        color: white;        
    }
}
.breadcrumb-arrow {
    margin: 0px 5px;
    & > i{
        font-size: 16px;
    }
}

.field{
    margin: 10px 0px;
}

textarea {
    resize: vertical;
    height: 100px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: all;
}
