/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "materialize/components/color-variables";
 $primary-color: #3A2A91  !default;
 $secondary-color: #FFFADC !default;
 @import "materialize";
 @import "bootstrap-sprockets";
 @import "bootstrap";

 $body-bg-color: #fffdf0;

 body {
     background-color: $body-bg-color !important; 
 }

 a:hover {
    text-decoration: none !important;
 }
 .nav-link {
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 300;
 }

.nav-link, .brand-logo {
    color: white !important;
    &:hover {
        color: white !important;
        text-decoration: none;
    }
}

.page-title {
    margin: 50px 0 0 0;
}

.collection-item {
    background-color: #3A2A91 !important;
}